/* HERO */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  position: relative;
}

.hero-title {
  font-size: 42px;
  font-weight: 700;
  max-width: 480px;
  line-height: 1.2;
}

.Red{ color: #E41F3A; }

.highlight {
  color: #363f8f;
}


.hero-sub {
  margin-top: 12px;
  max-width: 550px;
  font-size: 18px;
  line-height: 28px;
}

.hero-button {
  margin-top: 20px;
  background: #363f8f;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.hero-button:hover {
  background: #E41F3A;
}

.hero-right {
  position: relative;
}

.hero-img {
  width: 350px;
  position: relative;
  z-index: 2;
  right: 40px;
  top: 20px;
}

.blob-img {
  width: 420px;
  position: absolute;
  top: -20px;
  right: 0px;
  z-index: 1;
  opacity: 0.95;
}

/* FEATURE SECTION */

.features-title {
  text-align: center;
  margin-top: 40px;
  font-size: 60px;
  font-weight: 700;
}

.service-row {
  display: flex;
  justify-content: center;
  gap: 26px;
  padding: 40px 0 60px;
}

.spark {
  position: absolute;
  width: 85px;
  opacity: 0.95;
}

/* Hero sparks */
.spark-1 {
  top: 60px;
  left: -42px;
}



.spark-2 {
  top: 150px;
  right: -45px;
}

/* Feature sparks */
.spark-4 {
  top: 650px;
  left: 45px;
}

.spark-5 {
  top: 700px;
  right: 80px;
}


/* RESPONSIVE */

@media (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
  }
  .service-row {
    flex-direction: column;
    align-items: center;
  }
}
