.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 80px 80px 40px;
  position: relative;
  min-height: 630px;
}

/* TEXT BLOCK */
.hero-left {
  transform: translateY(-200px);
}

.hero-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
  max-width: 645px;
}

.Red { color: #E41F3A; }

.highlight { color: #363f8f; }

.hero-sub {
  margin-top: 12px;
  max-width: 645px;
  font-size: 18px;
  line-height: 28px;
  color: #494949;
}

.hero-button {
  margin-top: 18px;
  padding: 12px 24px;
  background: #26348B;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.hero-button:hover { background: #E41F3A; }

/* IMAGE BLOCK */
.hero-right {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.blob-img {
  width: 560px;
  position: absolute;
  bottom: 100px;
  right: -10px;
  z-index: 1;
  opacity: 0.96;
}

.hero-img {
  width: 520px;
  position: relative;
  bottom: 0;
  left: -20px;
  z-index: 2;
}

/* SPARKS */
.spark {
  position: absolute;
  width: 100px;
  opacity: 0.95;
}

.spark-1 { top: 90px; left: -45px; }
.spark-2 { top: 140px; right: -45px; }

/* FEATURES TITLE */
.features-title {
  margin-top: 110px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
}

/* === SERVICE CARDS === */
.service-row {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 26px;
  padding-bottom: 80px;
}


@media (max-width: 1100px) {
  .hero-section {
    padding: 60px 50px 30px;
    min-height: 520px;
  }

  .hero-left {
    transform: translateY(-150px);
  }

  .blob-img { 
    width: 480px; 
    bottom: 80px;
  }

  .hero-img { width: 440px; }

  .hero-title { font-size: 50px; }
}

/* === TABLET === */
@media (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 50px 32px 30px;
    min-height: auto;
    align-items: center;
  }

  .hero-left {
    transform: translateY(-60px);
  }

  .hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    position: relative;
  }

  
  .blob-img {
    width: 420px;
    position: relative;
    bottom: 0;
    right: -10;
    margin-bottom: -430px; 
    z-index: 1;
  }

  .hero-img {
    width: 360px;
    position: relative;
    z-index: 2;
    bottom: 0;
    left: 0;
  }

  .spark { display: none; }

  .features-title {
    margin-top: 40px;
    font-size: 48px;
  }

  .service-row {
    flex-direction: column;
    gap: 22px;
  }
}

/* === MOBILE === */
@media (max-width: 600px) {
  .hero-left {
    transform: translateY(-40px);
  }

  .hero-title { font-size: 36px; }

  .hero-sub {
    font-size: 16px;
    max-width: 90%;
    margin: 0 auto;
  }

  .blob-img {
    width: 320px;
    margin-bottom: -330px;
  }

  .hero-img {
    width: 260px;
  }

  .features-title { font-size: 32px; }
}

/* === SMALL MOBILE === */
@media (max-width: 420px) {
  .hero-title { font-size: 30px; }

  .blob-img {
    width: 270px;
    margin-bottom: -280px;
    right: -5px;
  }

  .hero-img {
    width: 230px;
  }

  .features-title { font-size: 28px; }
}
