/* PAGE */
.mcq-frame {
  width: 1440px;
  min-height: auto;
  margin: 0 auto;
  padding: 0 96px 50px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
  font-family: 'Poppins', sans-serif;
}

/* TITLE */
.mcq-title {
  font-family: "ADLaM Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.mcq-title-red { color: #E41F3A; }
.mcq-title-blue { color: #182763; }

/* LIST */
.mcq-list {
  width: 1248px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  background: #FFFFFF;
  border-radius: 0px 22px 22px 22px;
  padding: 0 24px 40px;
}

/* CARD */
.mcq-card {
  width: 1196px;
  height: 338px;
  background: #F4F6FC;
  border-radius: 25px;
  padding: 50px 41px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-family: 'Poppins', sans-serif;
}

/* QUESTION TEXT */
.mcq-question {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
  width: 1113px;
}

/* OPTIONS ROW */
.mcq-options {
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  gap: 24px 500px;
}

/* OPTION TEXT */
.mcq-options label {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: #4F4F4F;
  gap: 10px;
}

/* RADIO */
.mcq-options input {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

/* SUBMIT BUTTON */
.mcq-submit {
  margin-top: 20px;
  padding: 10px 28px;
  background: #182763;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.mcq-submit:hover {
  opacity: 0.9;
}
