.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
}

.navbar-container {
  width: 1248px;
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  font-family: 'Poppins', sans-serif;
}

/* LOGO */
.nav-logo {
  width: 175px;
  height: 100px;
  object-fit: contain;
  padding-top: 8px;
}

/* MENU LINKS */
.nav-links {
  display: flex;
  gap: 45px;
  align-items: center;
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #1C1C1C;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
}

/* ACTIVE UNDERLINE */
.active-nav::after {
  content: "";
  width: 80%;
  height: 3px;
  background: #E41F3A;
  position: absolute;
  left: 10%;
  bottom: 0;
  border-radius: 20px;
}

/* BUTTON SECTION */
.nav-btn-group {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* SIGNUP BUTTON */
.btn-signup {
  padding: 8px 20px;
  border-radius: 10px;
  border: 2px solid #2B2F81;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #2B2F81;
}

/* LOGIN BUTTON */
.btn-login {
  padding: 8px 20px;
  border-radius: 10px;
  background: #2B2F81;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: white;
}
