.tcard {
  width: 390px;
  /* height: 228px; */
  background: #ffffff;
  box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.18);
  overflow: visible;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* --- TOP RED HEADER --- */
.tcard-top {
  background-color: #E41F3A;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  top: -20px;
  padding: 12px 16px;
  width: 88%; 
  min-height: 75px;
  position: relative;
  z-index: 3;
  justify-content: space-between;
}

/* --- PROFILE IMAGE OVERLAP --- */
.tcard-img {
  width: 91px;
  height: 91px;
  object-fit: cover;
  position: absolute;
  top: -12px;
  left: -12px;
  z-index: 4;
}

/* --- NAME + ROLE --- */
.tcard-info {
  margin-left: 70px;
  margin-right: 0px;
}

.tcard-name {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  align-items: center;
}

.tcard-role {
  margin: 0;
  font-size: 13px;
  opacity: 0.85;
  margin-top: -2px;
}

/* --- STAR + BADGE --- */
.tcard-stars-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 6px;
  margin-left: 0px;
  position: relative;
}

.tcard-stars {
  width: 200px;
  position: absolute;
  right: -220px;
  bottom: -65px;
}

.tcard-badge {
  display: flex;
  align-items: center;
  right: -170px;
  gap: 5px;
  bottom: 2px;
  font-size: 12px;
  padding: 3px 8px;
  position: absolute;
}

/* --- REVIEW SECTION --- */
.tcard-body {
  padding: 30px 36px 50px;
  position: relative;
  z-index: 3;
}

.tcard-review {
  font-size: 14px;
  font-style: regular;
  line-height: 21px;
  color: #222;
  justify-content: center;
  max-width: 90%;
}

/* --- QUOTE ICON --- */
.tcard-quote {
  width: 70px;
  height: 64.08px;
  position: absolute;
  bottom: -32px;
  left: 30px;
  opacity: 0.92;
}


@media (max-width: 900px) {
  .tcard {
    overflow: visible 
  }

  .testi-grid {
    overflow: visible 
  }

  .testi-container {
    overflow-x: hidden 
  }
}
