/* MAIN CONTAINER */
.signup-container {
  max-width:1248px;
  width:100%;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  padding-top:50px;
  align-items:flex-start;
}

/* FORM BLOCK */
.signup-form-block {
  max-width:606px;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;

}

.signup-title-block {
  max-width:606px;
  width:100%;
  text-align:center;
  margin-bottom:24px;
}
.signup-title {
  font-size:32px;
  font-weight:700;
  margin-bottom:6px;
}

.signup-input-block {
  max-width:606px;
  width:100%;
  display:flex;
  flex-direction:column;
  gap:18px;
  margin-bottom:20px;
}

.signup-btn {
  max-width:606px !important;
  width:100% !important;
  height:50px !important;
  background:#2B2F81 !important;
  border-radius:10px !important;
  font-size:16px !important;
  font-weight:500 !important;
  margin-top:30px;
}

.signup-btn:hover {
  background:#e41f3a
   !important;
}

/* HERO GROUP */
.signup-hero-block {
  width:543px;
  height:680px;
  position:relative;
  transform-origin:top center;
  transform:scale(1);
}

/* RESPONSIVE */
@media (max-width:1100px) {
  .signup-container {
    flex-direction:column;
    align-items:center;
    gap:40px;
  }
}

@media (max-width:600px) {
  .signup-container {
    padding:0 24px;
  }
}
