.coding-page {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 96px;
  gap: 32px;
  font-family: "Poppins", sans-serif;
}

/* Title */
.coding-title {
  font-size: 50px;
  font-family: "ADLaM Display";
  font-weight: 400;
  margin-top: 20px;
}

.coding-red {
  color: #E41F3A;
}

.coding-blue {
  color: #263686;
}

/* Search + Filter */
.search-filter-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Search Bar */
.search-bar {
  width: 793px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #1c1c1c;
  border-radius: 10px;
  padding: 0 8px;
  box-shadow: 0px 0px 15px rgba(13,10,44,0.15);
}

.search-bar input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}

.search-icon {
  font-size: 20px;
  color: #000;
}

/* Language Dropdown */
.language-bar {
  width: 435px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #1c1c1c;
  border-radius: 10px;
  padding: 0 8px;
  box-shadow: 0px 0px 15px rgba(13,10,44,0.15);
  justify-content: space-between;
  font-size: 18px;
}

.lang-icon {
  font-size: 16px;
  opacity: 0.8;
}

/* Table */
.coding-table {
  width: 100%;
  border: 1px solid #7c7c7c;
  border-radius: 10px;
  grid-template-rows: auto;
}


.coding-table-header {
  height: 60px;
  background: #2c2c2c;
  color: #fff;
  display: grid;
  grid-template-columns: 55% 15% 15% 15%;
  justify-items: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  padding: 0 20px;
}

.coding-row {
  height: 100px;
  background: #F4F6FC;
  display: grid;
  grid-template-columns: 55% 15% 15% 15%;
  align-items: center;
  justify-items: center;
  padding: 0 20px;
  border-top: 1px solid #7c7c7c;
  font-size: 18px;
}

/* Solve Button */
.solve-btn {
  width: 95px;
  height: 45px;
  background: #E41F3A;
  border-radius: 15px;
  border: none;
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.solve-icon {
  width: 20px;
  height: 20px;
  filter: brightness(100);
}
